<% include ../header %>
<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>


    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <!-- <i class="fas fa-table"></i>
            Data Table Example -->
            <div><button data-toggle="modal" data-target="#exampleModal" style="color: #fff;float: right;
              height: 30px;
              font-weight: bold;
              font-size: 12px;
              text-shadow: none;
              min-width: 100px;
              border-radius: 50px;
              line-height: 13px;
              background-color: #269abc;
              border-color: #1b6d85 ; float:right;"><i class="fas fa-plus"></i> Add </button>
            </div>

        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên học viên</th>
                            <th>Ngày sinh</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th>Giới tính</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(dulieu => { %>
                        <% stt++ %>
                        <% let myDate = new Date(dulieu.ngaysinh ); %>                 
                        <tr>
                            <td><%= stt %></td>
                            <td><%= dulieu.hoten %></td>
                            <td><%= myDate.toLocaleDateString() %></td>
                            <td><%= dulieu.SDT %></td>
                            <td><%= dulieu.email %></td>
                            <td><%= dulieu.diachi %></td>
                            <td><%= dulieu.gioitinh %></td>
                            <td>
                                <a href="#" style="color: gold;margin-left: 20%;" class="edit" title="Edit"
                                    data-toggle="modal" data-target="#updatehv<%= dulieu._id %>">
                                    <i class="fas fa-pen">&nbsp;</i></a>

                                <a href="#" style="color: red;margin-left: 15%;" class="delete" title="Delete"
                                    data-toggle="modal" data-target="#delete<%= dulieu._id %>"><i
                                        class="fas fa-trash">&nbsp;</i></a>

                                <div class="modal  fade" id="delete<%= dulieu._id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Bạn muốn xóa !!!</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <a class="btn btn-primary" href="/xoahv/<%= dulieu._id %>">Yes</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="modal fade" id="updatehv<%= dulieu._id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">SỬA HỌC VIÊN</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="POST" action="/admin/suahv/<%= dulieu._id %>">
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="col-form-label">TÊN HỌC
                                                            VIÊN:</label>
                                                        <input value="<%= dulieu.hoten %>" type="text" name="ten"
                                                            class="form-control" id="recipient-name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">NGÀY
                                                            SINH:</label>
                                                        <input value="<%= dulieu.ngaysinh %>" type="date"
                                                            name="ngaysinh" class="form-control" id="recipient-name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">SỐ ĐIỆN
                                                            THOẠI:</label>
                                                        <input value="<%= dulieu.SDT %>" type="text" name="sdt"
                                                            class="form-control" id="recipient-name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">EMAIL:</label>
                                                        <input value="<%= dulieu.email %>" type="email" name="email"
                                                            class="form-control" id="recipient-name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">ĐIẠ
                                                            CHỈ:</label>
                                                        <input value="<%= dulieu.diachi %>" type="text" name="diachi"
                                                            class="form-control" id="recipient-name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">GIỚI
                                                            TÍNH:</label>
                                                        <input value="<%= dulieu.gioitinh %>" type="text"
                                                            name="gioitinh" class="form-control" id="recipient-name">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">TRẠNG
                                                            THÁI:</label>
                                                        <select name="trangthai" class="form-control">
                                                            <option value="0">ĐANG HỌC</option>
                                                            <option value="1">KHÔNG</option>
                                                        </select>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">THOÁT</button>

                                                        <input type="submit" class="btn btn-primary"
                                                            value="SỬA THÔNG TIN HỌC VIÊN">
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>


                        <%}); %>


                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>

    <p class="small text-center text-muted my-5">
        <em>More table examples coming soon...</em>
    </p>

</div>


<% include addhocvien %>
<% include ../footer %>