<% include ../header %>
<div class="container-fluid">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Tables</li>
  </ol>


  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <!-- <i class="fas fa-table"></i>
            Data Table Example -->
      <div><button data-toggle="modal" data-target="#exampleModal" style="color: #fff;float: right;
              height: 30px;
              font-weight: bold;
              font-size: 12px;
              text-shadow: none;
              min-width: 100px;
              border-radius: 50px;
              line-height: 13px;
              background-color: #269abc;
              border-color: #1b6d85 ; float:right;"><i class="fas fa-plus"></i> Add </button>
      </div>

    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên lớp học</th>
              <th>Số lượng học viên</th>
              <th>Thời gian bắt đầu</th>
              <th>Thời gian kết thúc</th>
              <th>Danh sách học viên</th>
              <th>Action</th>

            </tr>
          </thead>
          <tbody>
            <% data.forEach(dulieu => { %>
            <% stt++ %>
            <tr>
              <td><%= stt %></td>
              <td><%= dulieu.tenlop %></td>
              <td><%= dulieu.loaikhoahoc %></td>
              <td><%= dulieu.thoigianbatdau %></td>
              <td><%= dulieu.thoigianketthuc %></td>
              <td> <button type="button" class="btn btn-primary" data-toggle="modal"
                  data-target="#xemhinh<%= dulieu._id %>">
                  Xem học viên
                </button>

                <div class="modal fade" id="xemhinh<%= dulieu._id %>" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Hình ảnh cho khóa học <%= dulieu.tenkhoahoc %>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <img height="100%" width="100%" src="../../../../uploadimg/<%=  dulieu.hinhanh %>" alt="">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>



              </td>
              <td>
                <a href="#" style="color: gold;margin-left: 20%;" class="edit" title="Edit" data-toggle="modal"
                  data-target="#updatekh<%= dulieu._id %>">
                  <i class="fas fa-pen">&nbsp;</i></a>

                <a href="#" style="color: red;margin-left: 15%;" class="delete" title="Delete" data-toggle="modal"
                  data-target="#delete<%= dulieu._id %>"><i class="fas fa-trash">&nbsp;</i></a>

                <div class="modal  fade" id="delete<%= dulieu._id %>" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bạn muốn xóa !!!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= dulieu.tenkhoahoc %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a class="btn btn-primary" href="/xoakh/<%= dulieu._id %>">Yes</a>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="modal fade" id="updatekh<%= dulieu._id %>" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">SỬA TÀI KHOẢN</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="/admin/suakh/<%= dulieu._id %>" enctype="multipart/form-data">
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">TÊN KHÓA HOC:</label>
                            <input value="<%= dulieu.tenkhoahoc %>" type="text" name="ten" class="form-control" id="recipient-name">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">LOẠI KHÓA HỌC:</label>
                            <input value="<%= dulieu.loaikhoahoc %>" type="text" name="loai" class="form-control" id="recipient-name">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">PHÍ DỊCH VỤ:</label>
                            <input value="<%= dulieu.phidichvu %>" type="text" name="phidichvu" class="form-control" id="recipient-name">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">ĐIỀU KIỆN:</label>
                            <textarea  name="dieukien" class="form-control" id="recipient-name" rows="10"
                              cols="30"><%= dulieu.dieukien %></textarea>
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">TRẠNG THÁI:</label>
                            <select name="trangthai" class="form-control">
                              <option value="0">ẨN</option>
                              <option value="1">HIỆN</option>
                            </select>
                          </div>
                          <div class="file-field">
                            <div class="z-depth-1-half mb-4">                              
                              <img src="../../../../uploadimg/<%=  dulieu.hinhanh %>" id="profile-img-tag" width="100%" height="200px" />                              
                            </div>
                            <div class="d-flex justify-content-center">
                              <div class="btn btn-mdb-color btn-rounded float-left">
                                <span>Chọn hình ảnh</span>
                                <input  type="file" name="file" id="profile-img" >
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">THOÁT</button>

                            <input type="submit" class="btn btn-primary" value="SỬA KHÓA HỌC">
                          </div>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
              </td>

            </tr>


            <%}); %>


          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>

  <p class="small text-center text-muted my-5">
    <em>More table examples coming soon...</em>
  </p>

</div>


<% include addlophoc %>
<% include ../footer %>